*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***************Pagina de Home********************/
body
{
    background-color: rgb(218, 218, 218);
}
.header 
{
    background: url(./fotos/destacda-hamburguesa.jpg) no-repeat center;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
     
}

  .header .navbar 
{
    background-color: transparent !important;
}

.titulo
{
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
}

.navbar ul li a
{
    font-family: 'Fredoka', sans-serif;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

.navbar ul li a:hover
{
    color: rgb(76, 34, 231);
    transition: .9s;
}
.navbar ul li a:after
{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(177, 41, 0);
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}
.navbar ul li a:hover::after
{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%) scaleX(1);
}

.titulo2
{
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    color: rgb(146, 38, 5);
}

p
{
    font-family: 'Poppins', sans-serif;
    color: rgb(128, 133, 138);
    font-weight: bold;
}

.reseñas
{
    font-family: 'Poppins', sans-serif;
    color: rgb(128, 133, 138);
    font-size: 20px;
}
.reseñastitulo
{
    font-family: 'Poppins', sans-serif;
    color: rgb(201, 75, 25);
    font-weight: bold;
    

}
.footerhome
{
    background-color: rgb(230, 87, 62);

}
.letrafooter
{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}
/***********Pagina de Menu***********************/
.nuestromenu
{
    background-color: rgb(245, 115, 82);
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 60px;
}
.container h2
{
    font-family: 'Fredoka', sans-serif;
}
.precios
{
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    color: rgb(13, 13, 112);
}
.supreme
{
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 115, 82);
}
.bbq
{
    color:  rgb(88, 74, 70);
}
.bufalo
{
    color:  rgb(189, 56, 39);
}
.Lemonp
{
    color: rgb(119, 189, 39);
}
.spicy
{
    color:  rgb(117, 64, 57);
}
.frutos
{

    color:  rgb(189, 3, 3);

}
.mango
{
    color: rgb(158, 120, 16);
}
.jamaica
{
    color: rgb(131, 62, 53);
}
.pan
{
    width: 250px;
    height: 50px;
    background-color: rgb(107, 58, 19);
    border-radius: 1rem;
    animation-name: mianimacion;
    animation-duration: 1s;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    animation-delay: 2s;
    animation-fill-mode:both;
    position: absolute;
    
}
.carne
{
    width: 250px;
    height: 40px;
    background-color: rgb(107, 58, 19);
    border-radius: 1rem;
    animation-name: mianimacion2;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode:both;
    position: absolute;
}
.lechuga
{
    width: 250px;
    height: 40px;
    background-color: rgb(26, 197, 26);
    border-radius: 1rem;
    animation-name: mianimacion3;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode:both;
    position: absolute;
}
.tomate
{
    width: 250px;
    height: 40px;
    background-color: rgb(26, 197, 26);
    border-radius: 1rem;
    animation-name: mianimacion4;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode:both;
    position: absolute;
}
.pan2
{
    width: 250px;
    height: 50px;
    background-color: rgb(26, 197, 26);
    border-radius: 1rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    animation-name: mianimacion5;
    animation-duration: 1s;
    animation-fill-mode:both;
    position: absolute;
}
.papas
{
    width: 250px;
    height: 120px;
    background-color: rgb(190, 31, 31);
    border-radius: 1rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    animation-name: mianimacion6;
    animation-duration: 1s;
    animation-fill-mode:both;
    position: absolute;
}
.papas2
{
    width: 50px;
    height: 120px;
    background-color: rgb(190, 179, 31);
    border-radius: 1rem;
    animation-name: mianimacion7;
    animation-duration: 1s;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    animation-delay: 2s;
    animation-fill-mode:both;
    position: absolute;
}
@keyframes mianimacion 
{
 0% {background-color: rgb(218, 218, 218); left: 0;top: 0px;}
 100% {background-color: rgb(146, 102, 65);left: 0px; top: 30px;} 
}
@keyframes mianimacion2 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(107, 58, 19);left: 0px; top: 160px;} 
}
@keyframes mianimacion3 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(26, 197, 26);left: 0px; top: 120px;} 
}
@keyframes mianimacion4 
{
 0% {background-color: rgba(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(238, 34, 27, 0.966);left: 0px; top: 80px;} 
}
@keyframes mianimacion5 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(146, 102, 65);left: 0px; top: 200px;} 
}
@keyframes mianimacion6 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(190, 31, 31);left: 0px; top: 150px;} 
}
@keyframes mianimacion7 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(190, 179, 31);left: 0px; top: 30px;} 
}
/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
    0.0%{
   transform: scale(1) translate(-100px, 0) skew(0deg);
  }
   39.9%{
    transform: scale(1) translate(100px, 0) skew(-5deg);
   }
    45.3%{
    transform: scale(1) translate(100px, -6px) skew(0deg);
   }
    5.1%{
   transform: scale(1) translate(-100px, 0) skew(-12deg);
   }
  50.3%{
  transform: scale(1) translate(100px, 0px) skew(0deg);
   }
   55.3%{
   transform: scale(1) translate(100px, -10px) skew(0deg);
  }
    60.3%{
   transform: scale(1) translate(100px, 0px) skew(5deg);
  }
    95.1%{
    transform: scale(1) translate(-100px, 0) skew(12deg);
    }
   99.6%{
    transform: scale(1) translate(-100px, 0) skew(0deg);
   }
    }
    
    
    /* Add the animation: property to whichever element you want to animate */
    .animacionnn{
   animation: yourAnimation 5s ease 0s infinite normal forwards;
    }