*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***********Pagina de Menu***********************/
.nuestromenu
{
    background-color: rgb(245, 115, 82);
    font-family: $fredoka;
    font-weight: bold;
    color: black;
    font-size: 60px;
}
.container h2
{
    font-family: $fredoka;
}
.precios
{
    font-family: $fredoka;
    font-size: 20px;
    color: rgb(13, 13, 112);
}
.supreme
{
    font-family: $fredoka;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 115, 82);
}
.boneless
{
    color:  rgb(88, 74, 70);

    &bufalo
    {
        color:  rgb(189, 56, 39);
    }
    &Lemonp
    {
        color: rgb(119, 189, 39);
    }
    &spicy
    {
        color:  rgb(117, 64, 57);
    }
    &frutos
    {
        color:  rgb(189, 3, 3);
    }
    &mango
    {
        color: rgb(158, 120, 16);
    }
    &jamaica
    {
        color: rgb(131, 62, 53);
    }
}

.hamburguesa
{
    width: 250px;
    height: 50px;
    background-color: rgb(107, 58, 19);
    border-radius: 1rem;
    animation-name: mianimacion;
    animation-duration: 1s;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    animation-delay: 2s;
    animation-fill-mode:both;
    position: absolute;

    &carne
    {
        width: 250px;
        height: 40px;
        background-color: rgb(107, 58, 19);
        border-radius: 1rem;
        animation-name: mianimacion2;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode:both;
        position: absolute;
    }
    &lechuga
    {
        width: 250px;
        height: 40px;
        background-color: rgb(26, 197, 26);
        border-radius: 1rem;
        animation-name: mianimacion3;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode:both;
        position: absolute;
    }
    &tomate
    {
        width: 250px;
        height: 40px;
        background-color: rgb(26, 197, 26);
        border-radius: 1rem;
        animation-name: mianimacion4;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode:both;
        position: absolute;
    }
    &pan2{
        width: 250px;
        height: 50px;
        background-color: rgb(26, 197, 26);
        border-radius: 1rem;
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        animation-name: mianimacion5;
        animation-duration: 1s;
        animation-fill-mode:both;
        position: absolute;
    }
    
}

@keyframes mianimacion 
{
 0% {background-color: rgb(218, 218, 218); left: 0;top: 0px;}
 100% {background-color: rgb(146, 102, 65);left: 0px; top: 30px;}
}
@keyframes mianimacion2 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(107, 58, 19);left: 0px; top: 160px;} 
}
@keyframes mianimacion3 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(26, 197, 26);left: 0px; top: 120px;} 
}
@keyframes mianimacion4 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(238, 34, 27);left: 0px; top: 80px;} 
}
@keyframes mianimacion5 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(146, 102, 65);left: 0px; top: 200px;} 
}
@keyframes mianimacion6 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(190, 31, 31);left: 0px; top: 150px;} 
}
@keyframes mianimacion7 
{
 0% {background-color: rgb(218, 218, 218);left: 0;top: 0px;}
 100% {background-color: rgb(190, 179, 31);left: 0px; top: 30px;} 
}