*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*********************Pagina de Nosotros************/
.titulonosotros
{
    font-family: $fredoka;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
}